extends mixins/layout

block nav
  +sidenav()

block content
  #main
    +topnav()
    .overview.is-flex.is-flex-direction-row.is-justify-content-space-between.is-align-items-center.p-5
      .icon-text.secondary
        h3.is-bold Overview
        .icon
          .fas.fa-ellipsis-v
    .columns.mx-3
      .column.is-8
        .columns
          .column.is-5
            .bg-primary.p-5.height-100
              p.pale-grey.is-bold.muted Current balance:
                .is-flex.is-flex-direction-row.py-3
                  h1.has-text-white.total=totalBalance
                  h2.secondary.is-bold.m-4.is-family-monospace $CAD
              .is-flex.is-justify-content-space-between.py-5
                .transactions.is-flex.is-flex-direction-row.is-align-items-end
                  - var totalTransaction = 0
                    each wallet in wallets
                      - totalTransaction += wallet.transactions.length
                  h1.has-text-white=totalTransaction
                  h3.secondary.is-bold.pl-2 Transactions
                .wallets.is-flex
                  a(href="/wallets")
                    button.btn-full.button.bg-accent
                      h3 #{wallets.length} wallets
              .fiat.is-flex
                a(href="/wallets/FIAT#buy").width-100
                  button.button.btn-border.column.accent-border.is-flex.is-align-items-center.width-100
                    h3.has-text-white Add funds
          .column.is-7
            .is-flex.is-justify-content-space-between.is-align-items-center
              h2.has-text-white My wallets
              a(href="/wallets")
                p.accent.is-bold Add wallet
            .wallets.tile.is-ancestor.is-flex.is-flex-wrap-wrap.pt-3
               each wallet in wallets
                 a(href="/wallets/" + wallet.crypto.symbol).wallet.tile.is-parent.is-4.no-hover
                   .tile.is-child.box.px-3.py-5
                     .px-3
                       .is-flex.is-flex-direction-row.is-align-items-center.is-flex.is-justify-content-space-between
                         h2.is-bold=wallet.crypto.symbol
                         button.button.btn-pale.crypto-logo
                           img(src=wallet.crypto.img_url)
                     .is-flex.is-justify-content-space-between.px-3
                       h3.has-text-white=wallet.crypto.name
        .columns
          .column
            .is-flex.is-justify-content-space-between.is-align-items-center
              h2.has-text-white Market
              a(href="/calculator").accent
                p.is-bold Calculator
            .wallets.tile.is-ancestor.is-flex.is-flex-wrap-wrap.pt-3
              include mixins/marketHelper
              each market in markets
                +smallMarket(market)
              +followAnother(2)
      .column.is-4
        .bg-primary.p-5
          p.pale-grey.is-bold.muted Wallet's last transactions:
          include mixins/transactionsHelper
          each wallet in wallets
            if wallet.transactions.length > 0
              +smallTransaction(wallet.transactions[wallet.transactions.length - 1])
            else
              h3.p-4.pale-grey No transactions in #{wallet.crypto.name} wallet

