extends mixins/layout
include mixins/transactionsHelper
include mixins/buySellHelper

block nav
  +sidenav()

block content
  #main
    +topnav()
    .overview.is-flex.is-flex-direction-row.is-justify-content-space-between.is-align-items-center.p-5
      button.button.btn-full
        a(href="/wallets").icon-text
          .icon
            .fas.fa-chevron-left
          h3.is-bold Back
    .wallet.columns.mx-5.py-5
      .column.bg-primary.mr-3.p-5.is-5
        p.pale-grey.is-bold.muted Current balance:
        .is-flex.is-flex-direction-row.pt-3
          h1.has-text-white.total=wallet.balance
          h2.secondary.is-bold.mx-4.mt-4=wallet.crypto.symbol
        p.secondary.is-bold.mb-4 $CAD Value : #{wallet.value}
        .actions.is-flex.is-flex-direction-row.is-align-items-center
          button.button.bg-accent.btn.column.mx-4.is-flex.is-align-items-center
            h3 Send
          button.button.btn-border.column.mx-4.accent-border.is-flex.is-align-items-center
            h3.has-text-white Receive
        .address.my-6
          .is-flex.is-justify-content-space-between.is-align-items-center
            p.pale-grey.is-bold.muted Your wallet address:
            button#toggleQRCode.button.btn-transparent
              h3.secondary QR-code
          button#addressBtn.button.btn-full.column.accent-border.is-flex.is-align-items-center.my-3.width-100.p-5.tooltip
            span#addressToolTip.tool-tip-text.muted.p-2 Copy to clipboard
            p#address.pale-grey.muted=wallet.address
        .history
          p.pale-grey.is-bold.muted Balance history:
          canvas(data-chart=wallet.crypto.symbol).m-3
      .column.bg-primary.ml-3.p-5.pb-6
        .tabs.is-medium
          ul
            li.is-active
              a(href="#transactions").tabs-a
                p.pale-grey Past transactions
            li
              a(href="#buy").tabs-a
                p.pale-grey Buy
            li
              a(href="#sell").tabs-a
                p.pale-grey Sell
        #transactions.tab
          if wallet.transactions.length === 0
            h2.pt-4.pale-grey.muted.mx-3 No transaction to show
          else
            each transaction in wallet.transactions
              +smallTransaction(transaction)
        #buy.is-hidden.tab.mx-4
          +flash()
          if wallet.crypto.symbol === "FIAT"
            +buyFiatForm(wallet)
          else
            +buyForm(wallet)
        #sell.is-hidden.tab.mx-4
          if wallet.crypto.symbol === "FIAT"
            .notification.is-danger.mx-4
              p It is not possible to sell 'FIAT' at the moment, please come back later
          else
            +flash()
            +sellForm(wallet)

block script
  script(src="/javascripts/tabs.js")
  script(src="/javascripts/copyAddress.js")
  script(src="/javascripts/walletChart.js")
