extends mixins/layout

block nav
  +sidenav()

block modal
  .modal#modal-add-wallet
    .modal-background(data-toggle="modal-add-wallet")
    .modal-content
      .box.bg-secondary
        h1.is-bold.p-3.has-text-centered Add a crypto wallet
        form(method="post" action="/wallets/add").m-4.is-flex.is-flex-direction-row.is-align-items-center
          label.has-text-white Available Cryptos
          .select.mx-5
            select(name="symbol").bg-secondary.no-border.has-text-white
              each market in markets
                if market.symbol !== "FIAT"
                  option(value=market.symbol).has-text-white=market.name
          button.button.btn-accent
            h3 Add this wallet
    button(data-toggle="modal-add-wallet").modal-close.is-large
  script(src="/javascripts/modal.js")

block content
  #main
    +topnav()
    .overview.is-flex.is-flex-direction-row.is-justify-content-space-between.is-align-items-center.p-5
      .icon-text.secondary
        h3.is-bold Overview
        .icon
          .fas.fa-ellipsis-v
      a(data-toggle="modal-add-wallet").accent
        p.is-bold Add Wallet
    +flash()
    .wallets.tile.is-ancestor.px-5.my-5.is-flex.is-flex-wrap-wrap
      include mixins/transactionsHelper
      each wallet in wallets
        a(href="/wallets/" + wallet.crypto.symbol).wallet.tile.is-parent.is-4.no-hover
          .tile.is-child.box.px-3.py-5
            .is-flex.is-justify-content-space-between.px-4
              .is-flex.is-flex-direction-row.is-align-items-center
                button.button.btn-pale.crypto-logo.mr-4
                  img(src=wallet.crypto.img_url)
                h2.has-text-white=wallet.crypto.name
              .is-flex.is-flex-direction-column.is-align-items-end
                h3.is-bold=wallet.crypto.symbol
                h1.has-text-white=wallet.balance
            .history
              canvas(data-chart=wallet.crypto.symbol).m-3
              if wallet.transactions.length > 0
                +smallTransaction(wallet.transactions[wallet.transactions.length - 1])
              else
                h3.pt-4.pale-grey.muted.mx-3 No transaction to show

      a(data-toggle="modal-add-wallet").tile.is-parent.is-4.no-hover
        .tile.is-child.box.px-3.py-5.wallet-add
          .is-flex.is-align-items-center.is-justify-content-center.height-100
            h1.is-bold.primary Add Wallet

block script
  script(src="/javascripts/walletChart.js" type="module")
